html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}
.animated{
	transition: 1s;
	cursor: pointer;
}
.animated:hover{
	color: #0d6efd;
	transition: 1s;
}
.navbar-icon{
	width: 50px;
	max-width: 50px;
}
.img-width{
	width: 100%;
	max-width: 100%;
}
.link{
	text-decoration: none;
}
.icon-size{
	width: 40%;
	background-color: rgb(62, 69, 70, 1);
}
#myBtn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 	5px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: rgba(127, 17, 224, 1);
	color: #fff;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	transition: 1s;
}
#myBtn:hover{
	background-color: #eee;
	color: #000;
	transition: 1s;
}
.footer-high{
	height: 30px;
	max-height: 30px;
}